
/* Element Selectors */
body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4 ,h5 {
  font-family: 'Montserrat';
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Section */
.colored-section {
  background-color: #ff4c68;
  color: #fff;

}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat';
  font-weight:lighter;
  font-size: 1.2rem;

}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
/* #title {

} */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
  position: relative;
  z-index: 0;
}

/* Title Image */
.title-image {
  transform: rotate(25deg);
  width: 60%;
  position: relative;
  z-index: 1;
  left: 15%;
  margin-bottom: -45%;
}

/* Feature Section */
#features {
  position: relative;
  z-index: 2;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

/* Testomonial Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 20%;
  margin:20px 20px 50px;
}

/* Pricing Section */

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-box {
  padding: 3% 2%;
}

.signuo-button {
  width: 100%;
}

@media (max-width: 991px) {
  #title {
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
    margin-bottom: auto;
  }
}

.cta-download-button {
  margin: 5% 3% 5% 0;
  font-family: 'fontawesome';
  font-size: 1rem;
}

.social-icon {
  padding: 0px 10px;
}
