#title {
  background-color: #ff4c68;
  color: #fff;
  position: relative;
  z-index: -1;
  /* margin-bottom: -15%; */
}

body {
  font-family: 'Montserrat';
}

h1 {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;;
}

.nav-link {
  font-family: 'Montserrat';
  font-weight:lighter;
  font-size: 1.2rem;

}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  transform: rotate(25deg);
  width: 60%;
  position: relative;
  z-index: 1;
  left: 15%;
  margin-bottom: -45%;
}

/* Feature Section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

/* Testomonial Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}

/* Press Section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 20%;
  margin:20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 7% 15%;
}

.pricing-box {
  padding: 3% 2%;
}

.signuo-button {
  width: 100%;
}

@media (max-width: 991px) {
  #title {
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
    margin-bottom: auto;
  }
}
